form {

    max-width: 500px;
    margin: 40px auto;
    background: white;
    padding: 10px;

}
.jumbotron {

    width: 600px;
    margin: 0 auto;
    background: white;
    padding: 10px 15px;
    border-radius: 10px;

}
span {

    margin-right: 10px;
    

}